:root {
    --color-bg-1: #fff;
    --color-bg-2: #f0f0f0;

    --color-text-1: #151515;
    --color-text-2: #2c2c2c;
    --color-text-3: #727272;
    --color-text-4: #c1c1c1;

    --color-prim-light: #777BB3;
    --color-prim-dark: #13141F;
}
